#tsparticles {
  position: absolute; /* or 'fixed' depending on your layout requirements */
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  z-index: 0;
}
.particle-container {
  height: 80vh;
  width: 100%; /* Adjust the width as needed, here it's set to take the full width */
  position: relative; /* Ensures the particles are contained within this div */
}
