.projects-container {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  width: 95%;
  height: auto;
  max-width: 1100px;
  min-height: 300px;
  background: rgb(231, 231, 231);
  border: 1px solid #000;
  border-radius: 1.5%;
  display: flex;
  flex-direction: column; /* Changed to column to stack children */

  justify-content: space-between;
  margin-top: 3vh;
  transform: scale(0.5);
  transition: background-color 0.3s ease, transform 1s ease; /* Added transform to transition for image tilt */
  position: relative;
  overflow: hidden;
}
.project.is-inView {
  transform: scale(1); /* Grow to full size when in view */
}

.project:hover {
  background-color: #cccaca; /* Darkens the background on hover */
}

.project:hover .project-image {
  transform: rotate(-2deg); /* Tilts the image to the left on hover */
}

.project-text-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  flex-grow: 1;
  width: 50%; /* Adjust the width as necessary for side-by-side layout */
}
.project-title {
  position: relative;
  top: 0;
  text-align: left;
}

.project-text-box h1,
.project-text-box h2 {
  /* Adjusted to include h2 */
  text-align: left;
  margin-bottom: 10px;
}

.project-text-box p {
  overflow: auto;
  margin: 0;
}

.madeWithIcons {
  height: 35px; /* Corrected the unit from 35x to 35px */
  width: 35px;
  margin-left: 10px;
  margin-right: 10px;
}

.project-image {
  height: 90%;
  max-width: 50%;
  min-width: 50%; /* Adjust the width as necessary for side-by-side layout */
  position: absolute;
  bottom: -20px;
  right: -20px;
  transition: transform 0.15s ease;
  transform-origin: bottom right; /* Set the origin of transformation to bottom right */
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  width: 50%; /* Adjust the width as necessary for side-by-side layout */
}

.icons-container {
  margin-top: 10px;
  width: 100%; /* Set to 100% to take full width of its container */
  display: flex;
  flex-wrap: wrap; /* Wrap icons if not enough space */
  justify-content: flex-start; /* Align icons to the start */
}

@media screen and (max-width: 1200px) {
  .project {
    flex-direction: column;
    align-items: stretch;
    height: auto; /* Set height to auto to accommodate the content */
  }

  .project-image {
    display: none;
  }

  .project-text-box,
  .buttons-container {
    width: 100%;
  }
}

/* Button Styles */
.Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease; /* Apply transition to all properties for smooth effect */
}

.buttonIcon {
  width: 16px;
  fill: white;
}

.Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition: all 0.3s ease; /* Apply transition to all properties for smooth effect */
}

.Btn:hover::before {
  transform: translate(100%, -50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px, 5px);
}
